
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - CASCO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" href="@Url.Content("~/Content/bootstrap-company.css")" media="all" rel="stylesheet" />

    <style type="text/css">
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('@Url.Content("~/Content/Images/loadingRubic.gif")') center no-repeat #fff ;
        }

        .se-text {
            position: absolute;
            left: 47%;
            top: 54%;
            z-index: 9999;
        }
    </style>
</head>
<body>
    <div class="jumbotron" style="text-align:right">
        <h1 style="font-size:3em;">@ViewBag.Title</h1>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-chevron-left" ></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <div class="se-pre-con"></div>
        <div class="se-text">Procesando...</div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/accounting.js")

    <script type="text/javascript">
        $(document).ajaxStart(showLoading);
        $(document).ajaxStop(hideLoading);

        function showLoading() {
            $(".se-pre-con").fadeIn("slow");
            $(".se-text").fadeIn("slow");
        }

        function hideLoading() {
            $(".se-pre-con").fadeOut("slow");
            $(".se-text").fadeOut("slow");
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>